{% extends 'base.html' %}

{% block content %}
<div class="nes-container with-title">
  <h1 class="title">Profile</h1>
  {% if user.is_authenticated %} 
    <img class="rounded-circle user_image" src="{{ user.profile.image.url }}"><br>
    <b>Name:</b> {{user.first_name }}</p>
    <b>Surname:</b> {{user.last_name }}</p>
    <b>Username:</b> {{ user.username }}</p>
    <b>Email:</b> {{ user.email }}</p>
  {% endif %}
  <a class="nes-btn is-success" href="{% url 'Profile:edit_profile'%}" role="button">Edit profile</a>
  {% endblock %}
</div>