{% load staticfiles %}
<html>
<head>
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><title>Convoy</title>
  <link rel='stylesheet' href='{% static "css/base.css" %}' />
  <link rel='stylesheet' href='{% static "css/style.css" %}' />
  <link rel="stylesheet" href="{% static 'css/PressStart2P.css' %}">
  <link rel="stylesheet" href="{% static 'css/nes.min.css' %}">
  <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/marked.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/comment.js' %}"></script>
<body>

  <nav>
    <ul>
      <li><a href="{% url 'post:list' %}">Posts</a></li>
      <li>
        <form method='GET' action='' class='row'>
          <div class='input-group'>
            <input class='form-control' type='text' name='q' placeholder='type something...' value='{{ request.GET.q }}'/>
            <button class="nes-btn is-success" type='submit'>Search</button>        
          </div>
        </form>
      </li>
      <li><a href="{% url 'Api:posts_api' %}">Api</a></li>
      {% if user.is_authenticated %}
        <li><a href="{% url 'post:create' %}">New Post</a></li>
        <li><a href="{% url 'Profile:profile' %}">{{user}}</a></li>
        <li><a href="{% url 'Profile:sign_out' %}">Logout</a></li>
        {% else %}
        <li><a href="{% url 'Profile:sign_up' %}">Sign Up</a></li>
        <li><a href="{% url 'Profile:sign_in' %}">Sign In</a></li>
      {% endif %}
    </ul>
  </nav>

  {% if messages %}
    {%for message in messages %}
    <ul class="nes-list is-disc">
      <li>{{message}}</li>
    </ul>  
    {% endfor %}
  {% endif %}

  <div class='container'>
    {% block content %}
    {% endblock content %}
  </div>

</body>
</html>