{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Convoy</title>
  <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "css/style.css" %}">
  <script type="text/javascript" src="{% static "js/script.js" %}"></script>
</head>
<body>

 <header>
    <div style="text-align:center" class="container">
      <nav>
      <ul>
        {% if user.is_authenticated %}
        <li><a href="http://127.0.0.1:8000/">Posts</a></li>
        <li><a href="{% url 'post:add' %}">New Post</a></li>
        <li><a href="{% url 'Profile:profile' %}">{{user}}</a></li>
        <li><a  href="{% url 'Profile:sign_out' %}">Logout</a></li>
        <li><a href="{% url 'Api:posts_api' %}">Api</a></li>
        <li>
            <form  class="form-inline mt-2 mt-md-0" role="search" method="POST" action="{% url 'post:searchPost' %}">
              {% csrf_token %}
              <input class="form-control mr-sm-2" placeholder="search.." aria-label="Search" type="text" name="query">
              <button class="btn  btn-warning " type="submit">Search</button>
            </form>
        </li>
        {% else %}
        <li><a href="http://127.0.0.1:8000/">Posts</a></li>
        <li><a  href="{% url 'Profile:sign_in' %}">Sign In</a></li>
        <li><a href="{% url 'Profile:sign_up' %}">Sign Up</a></li>
        <li><a href="{% url 'Api:posts_api' %}">Api</a></li>
        <li>
            <form  class="form-inline mt-2 mt-md-0" role="search" method="POST" action="{% url 'post:searchPost' %}">
              {% csrf_token %}
              <input class="form-control mr-sm-2" placeholder="search.." aria-label="Search" type="text" name="query">
              <button class="btn  btn-warning " type="submit">Search</button>
            </form>
        </li>
        {% endif %}
      </ul>
      </nav>
    </div>
 </header>

  {% if messages %}
    {%for message in messages %}
    <div class="alert alert-warning alert-dismissable" role="alert">
      <button class="close" data-dismiss="alert">
        <small><sup></sup></small>
      </button>
      {{message}}
    </div>
    {% endfor %}
  {% endif %}
  <br><br/>

<div class="container">
    {% block content %}
    {% endblock content %}
</div>

</body>
</html>
