{% extends 'base.html' %}
{% block content %}
<div class="nes-container with-title">
    <h2 style="color:blue" class="title"> Edit Profile </h2>
        <form   method="POST" action="{% url 'Profile:edit_profile' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div >
                {{form.as_p}}
                {{p_form}}
            </div>
            <input  type="submit" value="Update" class="nes-btn is-warning">
        </form>
    <a href="{% url 'Profile:change_password' %}">Click Here</a><a > to change your password.</a>
</div>
{% endblock %}
