{% extends 'base.html' %}

{% block content %}
<br>
<div class="nes-container with-title">
  <h2 class="title">Login</h2>
  <form  method="POST">
    {% csrf_token %}
    <div style="width:50px" class="nes-field is-inline">
      <input type="text" name="username" class="nes-input is-success" placeholder="Enter Username">
    </div>
    <div style="width:50px" class="nes-field is-inline">
      <input type="password" name="password" class="nes-input is-success" placeholder="Enter Password">
    </div>
    <br>
    <button type="submit" class="nes-btn is-primary">Sign In</button>
  </form>
</div>
{% endblock %}
