{% extends "base.html" %}
{% block content %}

{% for obj in object_list %}
<div class="nes-container is-rounded">
  <a style="font-size:18px" href="{{ obj.get_absolute_url }}">{{obj.title}}</a>
  <div>
    <span style="color:#4E4C54">{{obj.publish}}</span>
    <img height="30" width="30" class="rounded-circle account-img" src="{{ obj.user.profile.image.url }}">
    <a href="" style="color:#03BD98">@{{obj.user}}</a>
  </div>
</div>
{% endfor %}

<div style="text-align:center">
  <div class="pagination">
    <span class="step-links">
      {% if object_list.has_previous %}
        <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
      {% endif %}

      <span class="current">
        Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
      </span>

      {% if object_list.has_next %}
        <a href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
      {% endif %}
    </span>
  </div>
</div>

{% endblock content %}