{% extends "base.html" %}
{% block content %}

<ol>
  {% for obj in object_list %}
  <li class="nes-container is-rounded">
    <a style="font-size:18px" href="{{ obj.get_absolute_url }}">{{ obj.title }}</a>
    <div>
      <span style="color:#4E4C54">{{obj.publish}}</span>
      <img height="35" width="35" class="rounded-circle" src="{{ user.profile.image.url }}">
    </div>
  </li>
  {% endfor %}
</ol>

<div style="text-align:center">
  <div class="pagination">
    <span class="step-links">
      {% if object_list.has_previous %}
        <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
      {% endif %}

      <span class="current">
        Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
      </span>

      {% if object_list.has_next %}
        <a href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
      {% endif %}
    </span>
  </div>
</div>

{% endblock content %}