{% extends "base.html" %}

{% block content %}
<div class="nes-container with-title">
    <h2 style="color:blue" class="title">{{ post.title }}</h2>
    <img height="35" width="35" class="rounded-circle account-img" src="{{ post.user.image.url }}">
    <span style="color:#7DB7C9">Submited by</span>
    <a href="{% url 'post:userPost' username=post.user %}" style="color:red">@{{ post.user }}</a>
    <span style="color:#BDA403">{{post.date}}</span>
    {% if user.is_authenticated %}
        {% if  user == post.user.user %}
        <div style="float: right;">
            <div id="displayDelete{{post.id}}" style="display: none;">
                <a class="nes-btn is-warning" href="{% url 'post:delete' pk=post.id %}">Delete</a>
                <a class="nes-btn is-error" onclick="cancel({{ post.id }})">Cancel</a>
            </div>
            <div id="delete{{post.id}}">
                <a class="nes-btn is-warning"  href="{% url 'post:edit' pk=post.id %}">Edit</a>
                <a class="nes-btn is-error"  onclick="display({{post.id}})">Delete</a>
            </div>
        </div>
        {% endif %}
    {% endif %}
    <br>
    {{ post.text }}
</div>

{% if user.is_authenticated %}
<script>
$(document).ready(function() {
     $(':button[type="submit"]').prop('disabled', true);
     $('textarea[type="text"]').keyup(function() {
        if($(this).val() != '') {
           $(':button[type="submit"]').prop('disabled', false);
        }
     });
 });
</script>

 <hr>
    <div>
        <form method="POST" action="{% url 'post:post' post.id %}" style="text-align:center">
        {% csrf_token %}
        <textarea  class="nes-textarea" type="text" style="max-width: 50%;" class="form-control" name="textField" rows="5"></textarea>
        <br>
        <button type="submit" class="nes-btn is-primary" value="send" > Add new comment </button>
        </form>
    </div>
 <hr>
{% endif %}

<h2 style="text-align:center" >Comments</h2>
{% for comment in post.comments.all %}
    <ul class="nes-container is-rounded">
        <li class="list-group-item">
            <img height="25" width="25" class="rounded-circle account-img" src="{{ comment.author.image.url }}">
            <a href="{% url 'post:userPost' username=comment.author %}" style="color:blue">@{{ comment.author }}</a>
            <span style="color:red">{{post.date}}</span>
            <div>
                {{ comment }}
            </div>
        </li>
    </ul>
{% endfor %}

{% endblock content %}
