{% extends "base.html" %}
{% block content %}
<br>

<div class="nes-container with-title">
  <h2 style="color:blue" class="title">{{ title }}</h2>
  <img height="35" width="35" class="rounded-circle" src="{{ user.profile.image.url }}">
  <span style="color:#7DB7C9">Submited by</span>
  <a href="" style="color:red">@{{ instance.user }}</a>
  <span style="color:#BDA403">{{instance.publish}}</span>

  {% if user.is_authenticated %}
    {% if user == instance.user %}
    <div style="float:right;">
      <a class="nes-btn is-error" href="{% url 'post:delete' slug=instance.slug%}">
        Delete
      </a>
      <a class="nes-btn is-success"  href="{% url 'post:update' slug=instance.slug%}">
        Update
      </a>
    </div>
    {% endif %}
  {% endif %}

  {% if instance.image %}
    <img src='{{ instance.image.url }}' class='img-responsive' />
  {% endif %}
  <div>
    {{ instance}}
  </div>  
</div>

<br>
{% if user.is_authenticated %}

<div style="text-align: center">
    <h2 class="title" >New comment</h2>
  <form method="POST" action=".">
    {% csrf_token %}
    {{ comment_form }}
    <br>
    <input type='submit' value='Post comment'  class="nes-btn is-primary">
  </form>  
</div>
{% endif %}
<hr>
    
{% for comment in comments %}
<blockquote>
  <p>{{ comment.content }}</p>
  <footer>
    via <a style="color:red"> @{{ comment.user }} </a> 
    <p style="color:blue"> | {{ comment.timestamp|timesince }} ago |
    {% if comment.children.count > 0 %}
      {{ comment.children.count }} 
        Comment{% if comment.children.count > 1 %}s{% endif %} | 
    {% endif %} 
    </p>
    <a class='comment-reply-btn' href='#'>Reply</a> | 
    <a class='' href='{{ comment.get_absolute_url }}'>Thread</a>
    <hr>
  </footer>

  <div class='comment-reply'>
    {% for child_comment in comment.children %}
      <blockquote>
        <p>{{ child_comment.content }}</p>
        <footer>
          via <a style="color:red"> @{{ child_comment.user }}</a>
          <p style="color:blue">
            | {{ child_comment.timestamp|timesince }} ago 
          </p>
        </footer>
      </blockquote>
      <hr>
    {% endfor %}

    <form method="POST" action="."> 
      {% csrf_token %}
      {{ comment_form }}
      <input type='hidden' name='parent_id' value='{{ comment.id }}'>
      <br>
      <input type='submit' value='Reply' class="nes-btn is-success">
    </form>
  </div>

</blockquote>
{% endfor %}

{% endblock content %}
