{% extends "base.html" %}

{% block content %}

<div class="col-md-12">
  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="text-primary">
        <a style="color:#13220D" href="http://127.0.0.1:8000/detail/{{ post.pk }}/">
          <h1>{{ post.title }}</h1>
        </a>

      </h3>
       <img height="75" width="75" class="rounded-circle account-img" src="{{ post.user.image.url }}">
        <span style="color:#7DB7C9">Submited by</span>
        <a href="http://127.0.0.1:8000/@{{ post.user }}/" style="color:red">@{{ post.user }}</a>
        <a style="color:blue">{{post.date}}</a>
        {% if user.is_authenticated %}
            {% if  user == post.user.user %}
             <div style="float: right;">
                <div id="displayDelete{{post.id}}" style="display: none;">
                    <a class="btn  btn-warning btn-sm" href="/delete/{{post.id}}">Delete</a>
                    <a class="btn  btn-danger btn-sm" onclick="cancel({{ post.id }})">Cancel</a>
                </div>
                <div id="delete{{post.id}}">
                  <a class="btn  btn-warning btn-sm" style="color: white;" href="http://127.0.0.1:8000/edit/{{ post.id }}/">Edit</a>
                  <a class="btn  btn-danger btn-sm" style="color: white;" onclick="display({{post.id}})">Delete</a>
                </div>
            </div>
            {% endif %}
        {% endif %}
</div>

<div  class="panel-body">
  {{ post.text }}
</div>

 </div>
  {% if user.is_authenticated %}
  <hr>
    <div style="text-align:center">
      <a  class="btn  btn-dark btn-sm" href="{% url 'post:comment' post.id %}">Add new comment</a>
   </div>
  <hr>
  {% endif %}
  <br>
  {% for comment in post.comments.all %}
    <ul class="list-group">
      <li class="list-group-item">
        <img height="75" width="75" class="rounded-circle account-img" src="{{ comment.author.image.url }}">
        <a href="http://127.0.0.1:8000/{{ comment.author }}/" style="color:blue">@{{ comment.author }}</a>
        <a style="color:red">{{post.date}}</a>
        <div class="Link-detail">
          <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            {{ comment }}
          </p>
        </div>
       </li>
    </ul>
  {% endfor %}
  </div>
{% endblock content %}
