{% extends "base.html" %}
{% block content %}
<hr>
<div>    
  <p>{{ comment.content }}</p>
  <footer>
    via <a id="user">@{{ comment.user }}</a>
    <p class="title">
    | {{ comment.timestamp|timesince }} ago 
    {% if comment.children.count > 0 %}
      {{ comment.children.count }} 
      Comment{% if comment.children.count > 1 %}s{% endif %} 
    {% endif %}
    </p>
    <a href='{{ comment.get_delete_url }}'>Delete</a>
  </footer>
  <hr/>
  <div>
    {% for child_comment in comment.children %}
    <blockquote>
      <p>{{ child_comment.content }}</p>
      <footer>
        via <a id="user"> @{{child_comment.user}}</a>
        <p class="title">| {{ child_comment.timestamp|timesince }} ago</p>
      </footer>
      <a href='{{ child_comment.get_delete_url }}'>Delete</a>
    </blockquote>
    <hr>
   {% endfor %}
    <form method="POST" action="."> 
      {% csrf_token %}
      {{ form }}
      <input type='hidden' name='parent_id' value='{{ comment.id }}'>
      <br>
      <input type='submit' value='Reply' class="nes-btn is-primary">
    </form>
  </div>
</div>
{% endblock content %}