{% extends "base.html" %}
{% block content %}

<div class="nes-container  with-title is-centered">
  <p class="title">Categories</p>
  {% for topic in topic_list %}
    <a class="nes-btn is-primary" href="{% url 'post:get_post_from_topic' slug=topic %}">
      {{topic}}
    </a>
    {% empty %}
    <p>No category here yet.</p>
  {% endfor %}
</div>
<br>

{% for obj in object_list %}
<div class="nes-container is-rounded">
  <a class="title_link" href="{{ obj.get_absolute_url }}">{{obj.title}}</a>
  <div>
    <span>{{obj.publish}}</span>
    <img class="rounded-circle account-img post_profile" src="{{ obj.user.profile.image.url }}">
    <a id="user" href="{% url 'post:userPost' username=obj.user %}">@{{obj.user}}</a>
  </div>
</div>
{% endfor %}

<div class="default">
  <div class="pagination">
    <span class="step-links">
      {% if object_list.has_previous %}
        <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
      {% endif %}

      <span class="current">
        Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
      </span>

      {% if object_list.has_next %}
        <a href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
      {% endif %}
    </span>
  </div>
</div>
{% endblock content %}
