{% extends "base.html" %}
{% block content %}

<div class="nes-container with-title">
  <h2 class="title">{{ title }}</h2>
  <img class="rounded-circle account-img post_profile" src="{{ instance.user.profile.image.url }}">
  <span>Submited by</span>
  <a href="{% url 'post:userPost' username=instance.user %}" id="user">
    @{{ instance.user }}
  </a>
  <span>{{instance.publish}}</span><br>
  <a href="{% url 'post:get_post_from_topic' slug=topic %}">
    #{{topic}}
  </a>
  {% if user.is_authenticated %}
    {% if user == instance.user %}
    <div style="float:right;">
      <a class="nes-btn is-error" href="{% url 'post:delete' slug=instance.slug%}">Delete</a>
      <a class="nes-btn is-success" href="{% url 'post:update' slug=instance.slug%}">Update</a>
    </div>
    {% endif %}
  {% endif %}
  <div>{{ instance.content}}</div>  
</div>

{% if user.is_authenticated %}
<div class="default container">
  <h2 class="title">New comment</h2>
  <form method="POST" action=".">
    {% csrf_token %}
    {{ comment_form }}
    <br>
    <input type='submit' value='Post comment' class="nes-btn is-primary">
  </form>  
</div>
{% endif %}

{% for comment in comments %}
<blockquote >
  <footer class="nes-container is-rounded">
    <p>{{ comment.content }}</p> via 
    <a id="user" href="{% url 'post:userPost' username=comment.user %}"> 
      @{{ comment.user }} 
    </a> 
    | {{ comment.timestamp|timesince }} ago |
    {% if comment.children.count > 0 %}
      {{ comment.children.count }} 
      Comment{% if comment.children.count > 1 %}s{% endif %} | 
    {% endif %} 
    </p>
    <a class='comment-reply-btn' href='#'>Reply</a> | 
    <a class='' href='{{ comment.get_absolute_url }}'>Thread</a>
  </footer>

  <div class='comment-reply'>
    {% for child_comment in comment.children %}
    <blockquote class="nes-container is-rounded">
      <p>{{ child_comment.content }}</p>
      <footer>
        via 
        <a id="user" href="{% url 'post:userPost' username=child_comment.user %}"> 
          @{{child_comment.user}}
        </a>
        | {{ child_comment.timestamp|timesince }} ago 
      </footer>
    </blockquote>
    {% endfor %}

    <form method="POST" action="."> 
      {% csrf_token %}
      {{ comment_form }}
      <input type='hidden' name='parent_id' value='{{ comment.id }}'>
      <br>
      <input type='submit' value='Reply' class="nes-btn is-success">
    </form>
  </div>
</blockquote>
{% endfor %}
{% endblock content %}