{% extends "base.html" %}
{% block content %}

<div class="nes-container with-title">
  <p class="title">{{topic}}</p>
  {% for post in post_list %}
  <div class="nes-container is-rounded">
    <a class="title_link" href="{{ post.get_absolute_url }}">{{post.title}}</a>
    <div>
      <span>{{post.publish}}</span>
      <img class="rounded-circle account-img post_profile" src="{{ post.user.profile.image.url }}">
      <a id="user" href="{% url 'post:userPost' username=post.user %}">@{{post.user}}</a>
    </div>
  </div>
  {% endfor %}
</div>

<div class="default">
  <div class="pagination">
    <span class="step-links">
      {% if post_list.has_previous %}
        <a href="?{{ page_request_var }}={{ post_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
      {% endif %}
      <span class="current">
        Page {{ post_list.number }} of {{ post_list.paginator.num_pages }}.
      </span>
      {% if post_list.has_next %}
        <a href="?{{ page_request_var }}={{ post_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
      {% endif %}
    </span>
  </div>
</div>
{% endblock content %}
